.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 8px;
}
.product {
  width: 300px;
  height: 510px;
  border: 1px solid rgb(241, 234, 234);
  border-radius: 8px;
  position: relative;
}
.product-name {
    margin-top: 12px;
    margin-bottom: 0px;
  color: #0e161a;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
}

.cart-btn{
    border-radius: 0px 0px 8px 8px;
border: 1px solid #95A0A7;
background: #FFE0B3;
width: 100%;
position: absolute;
bottom: 0;
}

.cart-btn:hover{
    background-color: orange;
}
